body {
  margin: 0px;
  padding: 0px;
}

.heroImage {
  background-image: url("../images/heroImages/drzzlHero3.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.heroOverlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(37,67,80,.2);
}

.galleryOverlay {
  width: 100vw;
  height: 50vh;
  background-color: rgba(160,182,171,.2);
}

.aboutOverlay {
  width: 100vw;
  height: 50vh;
  background-color: rgba(79,113,126,.2);
}

.contactOverlay {
  width: 100vw;
  height: 58vh;
  background-color: rgba(160,182,171,.2);
}



.hidden {
  visibility: hidden;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 3em;
  color: #fdfff8;
  font-family: quicksand, sans-serif;
  text-shadow: 5px 5px 20px #000;
}

p {
  font-size: 1.3em;
  color: #fdfff8;
  text-align: center;
}

a {
  color: #d8e1c8;
}


/* Common Div Styles */
div {
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
/* End of Common Div Styles */



/* Gallery Div Styles */
.galleryDiv {
  background-color: #a0b6ab;
  background-image: url("../images/heroImages/drzzlHero6.jpg");
}
/* End of Gallery Div Styles */


/* Quote Div Styles */
.quoteDiv {
  background-color: #254350;
  display: flex;
  justify-content: center;
  flex-flow: column;
  color: #fdfff8;
}

.quote {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 4.5em;
  font-weight: 200;
  padding: 0 60px;
  margin: 0;
}

.citation {
  font-family: quicksand, sans-serif;
  font-weight: 100;
  font-size: 2em;
  padding: 20px 0;
  margin: 0;
}
/* End of Quote Div Styles */



/* About Div Styles */
.aboutDiv {
  background-color: #d8e1c8;
  background-image: url("../images/heroImages/drzzlHero2.jpg");
}
/* End of About Div Styles */



/* Contact Div Styles */
.contactDiv {
  height: 58vh;
  background-image: url("../images/heroImages/drzzlHero1.jpg");
  flex-wrap: wrap;
}
/* End of Contact Div Styles */



/* Footer Styles */
footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  left:0px;
  bottom:0px;
  height: 8vh;
  width:100%;
  background-color: rgba(37,67,80,.5);
}

footer p {
  color: #fdfff8;
  font-size: 1.3em;
  font-family: "helvetica light", helvetica, arial, sans-serif;
    text-shadow: 1px 1px 3px #000;
}

footer a {
  color: #fdfff8;
  font-family: "helvetica light", helvetica, arial, sans-serif;
}
/* End of Footer Styles */
