<!DOCTYPE html>
<html lang="en" dir="ltr">

  <% include ../partials/head %>

<body>

    <!-- Nav Bar -->
    <nav>
        <ul class="navBar">
          <li><a href="/">Home</a></li>
          <li><a href="/user/create">Upload</a>
          <li><a href="/user/create">Sign In</a></li>
        </ul>
    </nav>
    <!-- End of Nav Bar -->

  <%# Only accessible if logged in and user is owner of content %>
    <div>
      <h3>Edit Your Photos</h3>
    </div>
  <%# Display photos that belong to that user%>
  <%# add another photo button, points to upload Page %>
  <%# if click on a photo, directs to that's photo show page %>
  <%# delete photo button %>

    <!-- Quote Div -->
    <div class="quoteDiv2">
        <p class="quote">“What's a rainy day without some delicious coffee-flavoured loneliness?”</p>
        <p class="citation">― Sanober Khan</p>
    </div>
    <!-- End of Quote Div -->

    <!-- Footer -->
      <% include ../partials/footer %>
    <!-- End of Footer -->

</body>

</html>
