<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>drzzl - for rainy days</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300i" rel="stylesheet">
</head>

<body>

    <!-- Nav Bar -->
    <nav>
        <ul class="navBar">
          <li><a href="/">Home</a></li>
          <li><a href="/user/create">Upload</a>
          <li><a href="/user/create">Sign In</a></li>
        </ul>
    </nav>
    <!-- End of Nav Bar -->

    <div>
      <h3>Edit Your Photos</h3>
    </div>
    <%= for (let i = 0; i < content.length; i++) {
      content[i]
    } %>

    <!-- Quote Div -->
    <div class="quoteDiv2">
        <p class="quote">“What's a rainy day without some delicious coffee-flavoured loneliness?”</p>
        <p class="citation">― Sanober Khan</p>
    </div>
    <!-- End of Quote Div -->

    <!-- Footer -->
    <footer>
        <p>&#169; 2018</p>
        <p>Made in Chicago</p>
        <p><a href="https://goo.gl/SDr6QG">Github</a></p>
    </footer>
    <!-- End of Footer -->

</body>

</html>
