<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <% include ../partials/head %>
</head>

<body>

    <!-- Nav Bar -->
    <nav>
        <ul class="navBar">
          <li><a href="/">Home</a></li>
          <li><a href="/user/create">Upload</a>
          <li><a href="/user/create">Sign In</a></li>
        </ul>
    </nav>
    <!-- End of Nav Bar -->

    <div>
      <h3>All Photos on the Gallery</h3>
    </div>

    <%# Whether logged in or not... %>
    <%# Display all of the content array here as images %>
    <%# Each image is a clickable link that takes you to that user's edit page for that item %>
    <%# Set to a max of 20 pictures... maybe %>

    <!-- Quote Div -->
    <div class="quoteDiv2">
        <p class="quote">“What's a rainy day without some delicious coffee-flavoured loneliness?”</p>
        <p class="citation">― Sanober Khan</p>
    </div>
    <!-- End of Quote Div -->

    <!-- Footer -->
    <footer>
      <% include ../partials/footer %>
    </footer>
    <!-- End of Footer -->

</body>

</html>
