<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>drzzl - for rainy days</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300i" rel="stylesheet">
</head>

<body>

    <!-- Nav Bar -->
    <nav>
        <ul class="navBar">
          <li><a href="/">Home</a></li>
          <li><a href="/user/create">Upload</a>
          <li><a href="/user/create">Sign In</a></li>
        </ul>
    </nav>
    <!-- End of Nav Bar -->

    <!-- Upload Div -->
    <div class="uploadDiv">
        <h3>Upload A Rainy Day Photo</h3>

        <div>
            <p>We'd love to see your favorite photos of your favorite raining moments. drzzl will not sell or distribute your photos- we only feature them in our lovely gallery for others to enjoy as well. Whether it is a favorite reading nook, your favorite coffee house, or simply a landscape, we'd love to see a slice of your rainy, beautiful life.</p>
        </div>
        <div>
            <p>You'll need to register before you can begin, but you can click the Sign On button at the top right to begin. As a user you'll be able to comment, upload, and delete photos.</p>
        </div>
        <form action="/content/create" methord="POST">
          <div>
            <input class="button" type="file" />
            <button class="button" type="submit">Submit</button>
          </div>
        </form>
    </div>
    <!-- End of Upload Div -->

    <!-- Quote Div -->
    <div class="quoteDiv2">
        <p class="quote">“What's a rainy day without some delicious coffee-flavoured loneliness?”</p>
        <p class="citation">― Sanober Khan</p>
    </div>
    <!-- End of Quote Div -->

    <!-- Footer -->
    <footer>
        <p>&#169; 2018</p>
        <p>Made in Chicago</p>
        <p><a href="https://goo.gl/SDr6QG">Github</a></p>
    </footer>
    <!-- End of Footer -->

</body>

</html>
