<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ../partials/head %>
</head>

<body>

    <!-- Nav Bar -->
    <nav>
        <ul class="navBar">
          <li><a href="/">Home</a></li>
          <li><a href="/user/create">Upload</a>
          <li><a href="/user/create">Sign In</a></li>
        </ul>
    </nav>
    <!-- End of Nav Bar -->

    <div>
      <h3>See User's Gallery</h3>
    </div>

 <%# if logged in, session.user = content.user %>
 <%# Place button to edit photos %>
 <%# } %>
 <%# directs to content/edit.ejs %>

    <!-- Quote Div -->
    <div class="quoteDiv2">
        <p class="quote">“What's a rainy day without some delicious coffee-flavoured loneliness?”</p>
        <p class="citation">― Sanober Khan</p>
    </div>
    <!-- End of Quote Div -->

    <!-- Footer -->
    <footer>
      <% include ../partials/footer %>
    </footer>
    <!-- End of Footer -->

</body>

</html>
