<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ../partials/footer %>
</head>

<body>



<!-- Nav Bar Div -->
            <nav>
                <ul class="navBar">
                  <li><a href="/">Home</a></li>
                  <li><a href="/user/create">Upload</a>
                  <li><a href="/user/create">Sign In</a></li>
                </ul>
            </nav>
<!-- End of Nav Bar Div -->


<div><h3>Edit Your Account</h3></div>

<%# if logged in = true %>
<%# load user's account to delete %>
<button class="button">Delete User</button>





<!-- Quote Div -->
    <div class="quoteDiv3">
        <p class="quote">“The only thing I shall want for a rainy day will be my umbrella.”</p>
        <p class="citation">― Agatha Christie</p>
    </div>
<!-- End of Quote Div -->



<!-- Footer -->
<footer>
  <% include ../partials/footer %>
</footer>
<!-- End of Footer -->



</body>

</html>
