<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ../partials/head %>
</head>

<body>



<!-- Nav Bar Div -->
            <nav>
                <ul class="navBar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/user/create">Upload</a>
                    <li><a href="/user/create">Sign In</a></li>
                </ul>
            </nav>
<!-- End of Nav Bar Div -->



<!-- Sign On Div -->
<div class="signOnDiv">
  <div>
    <h3>Sign On or Register</h3>
  </div>
  <div>
    <p>Please sign in to comment, add photos, and enjoy the drzzl site to its fullest. It's free and we never sell or distribute your photos</p>
  </div>
  <div>
    <form action="/user/login" method="POST">
      <div class="register usernameSignOn">
        Username: <input type="text" name="username">
      </div>
      <div class="register passwordSignOn">
        Password: <input type="password" name="password">
      </div>
    </form>
    <button class="button" type="submit">Sign On</button>
  </div>
  <div>
    <p>Are you new around here? Great! Please register with your name, email, and password below. drzzl is available for free, and we do not have annoying mailers, spam, or otherwise any evil intent.</p>
  </div>
  <div>
    <form action="/user/register" method="POST">
      <div class="register usernameRegister">
        Username: <input type="text" name="username">
      </div>
      <div class="register passwordRegister">
        Password: <input type="password" name="password">
      </div>
      <button class="button" type="submit">Submit</button>
      <button class="button" type="reset">Reset Fields</button>
    </form>
  </div>
</div>
<!-- End of Sign On Div -->


<%# If signed not signed in, can come here to sign in or register %>
<%# If username is already taken, register function takes back here %>
<%# If signed in, take to user.edit.ejs %>



<!-- Quote Div -->
    <div class="quoteDiv3">
        <p class="quote">“The only thing I shall want for a rainy day will be my umbrella.”</p>
        <p class="citation">― Agatha Christie</p>
    </div>
<!-- End of Quote Div -->



<!-- Footer -->
<footer>
  <% include ../partials/footer %>
</footer>
<!-- End of Footer -->



</body>

</html>
