<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>drzzl - for rainy days</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300i" rel="stylesheet">
</head>

<body>



<!-- Hero Div -->
  <div class="heroPage">
      <div class="heroImage">
        <div class="heroOverlay">


            <nav>
                <ul class="navBar">
                    <li><a href="#">Home</a></li>
                    <li><a href="/user/create">Sign In</a></li>
                </ul>
            </nav>


            <div class="heroContent">
              <img class="svg raindrop" src="./Images/WeatherIcons/tint-solid.svg">


              <div class="drzzl">
                <img src="./images/logos/drzzlLogoColor.svg">
              </div>


              <div class="temp">
              <h1>Currently it is: 65 &#176;F</h1>
              </div>


              <div class="weatherStatus">
              <h5>(Sadly, it is not raining)</h5>
              </div>

            </div>


        </div>
    </div>
  </div>



<!-- Gallery Div -->
    <div class="galleryDiv">
        <div class="galleryOverlay">
            <h3>drzzl Gallery</h3>
            <div>
              <img class="svg" src="./images/WeatherIcons/umbrella-solid.svg">
              <img class="svg" src="./images/WeatherIcons/umbrella-solid.svg">
              <img class="svg" src="./images/WeatherIcons/umbrella-solid.svg">
              <img class="svg" src="./images/WeatherIcons/umbrella-solid.svg">
            </div>
            <div>
                <img class="svg" src="./images/WeatherIcons/umbrella-solid.svg">
                <img class="svg" src="./images/WeatherIcons/umbrella-solid.svg">
                <img class="svg" src="./images/WeatherIcons/umbrella-solid.svg">
                <img class="svg" src="./images/WeatherIcons/umbrella-solid.svg">
            </div>
        </div>
    </div>



<!-- Quote Div -->
    <div class="quoteDiv">
        <p class="quote">"Some people walk in the rain, others just get wet."</p>
        <p class="citation">- Roger Miller</p>
    </div>



<!-- About Div -->
    <div class="aboutDiv">
        <div class="aboutOverlay">
            <h3>About drzzl</h3>
            <h4>Made With</h4>
            <div>
              <img class="svg" src="./images/codeIcons/html5-brands.svg">
              <img class="svg" src="./images/codeIcons/css3-alt-brands.svg">
              <img class="svg" src="./images/codeIcons/js-square-brands.svg">
              <img class="svg" src="./images/codeIcons/node-js-brands.svg">
            </div>
            <p>And more...</p>
        </div>
    </div>



<!-- Contact Div -->
    <div class="contactDiv">
        <div class="contactOverlay">
            <div class="contactUs">
                <h3>Contact Us</h3>
                <p>We are available for mad love or hate mail at either of our Githubs or at <a href="#">hello@drzzl.io</a>.</p>
            </div>

            <div>
                <div class="contactDavid">
                    <h4>David Kolia</h4>
                    <img class="svg" src="./images/codeIcons/user-tie-solid.svg">
                    <p>A photographer, designer and web developer, David enjoys rainy days so much his white noise machine is getting tired of playing thunderstorms and light rain every evening.</p>
                </div>
                <div class="contactJay">
                    <h4>Jay Escala</h4>
                    <img class="svg" src="./images/codeIcons/user-tie-solid.svg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet odio vitae metus commodo porta. Maecenas pretium rhoncus vehicula. Fusce vestibulum tristique enim.</p>
                </div>
            </div>
        </div>
    </div>



<!-- Footer -->
    <footer>
        <p>&#169; 2018</p>
        <p>Made in Chicago</p>
        <p><a href="https://goo.gl/SDr6QG">Github</a></p>
    </footer>
</body>

</html>
