<!DOCTYPE html>
<html lang="en" dir="ltr">

<% include ../partials/head %>

  <body>

    <!-- Hero Div -->
    <div class="heroPage">
      <div class="heroImage">
        <div class="heroOverlay">

          <nav>
            <ul class="navBar">
              <li><a href="/">Home</a></li>
              <li><a href="/user/create">Upload</a></li>
              <li><a href="/user/create">Sign In</a></li>
            </ul>
          </nav>

          <div class="heroContent">

            <div class="drzzl">
              <img class="svg raindrop" src="./images/WeatherIcons/tint-solid.svg">
              <img src="./images/logos/drzzlLogoColor.svg">
            </div>

            <div id="weather-display">
              <div class="weather-items" id="city-name"></div>
              <div class="weather-items" id="temperature"></div>
              <div class="weather-items" id="weather"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Hero Div -->

      <!-- Gallery Div -->
      <div class="galleryDiv">
        <div class="galleryOverlay">
          <h3>drzzl Gallery</h3>
          <div id="gallery-row-1">
            <!-- <img class="svg" id="gallery-top-image-1" src="./images/WeatherIcons/umbrella-solid.svg">
                <img class="svg" id="gallery-top-image-2" src="./images/WeatherIcons/umbrella-solid.svg">
                <img class="svg" id="gallery-top-image-3" src="./images/WeatherIcons/umbrella-solid.svg">
                <img class="svg" id="gallery-top-image-4" src="./images/WeatherIcons/umbrella-solid.svg"> -->
          </div>
          <div id="gallery-row-2">
            <!-- <img class="svg" id="gallery-bottom-image-1" src="./images/WeatherIcons/umbrella-solid.svg">
                <img class="svg" id="gallery-bottom-image-2" src="./images/WeatherIcons/umbrella-solid.svg">
                <img class="svg" id="gallery-bottom-image-3" src="./images/WeatherIcons/umbrella-solid.svg">
                <img class="svg" id="gallery-bottom-image-4" src="./images/WeatherIcons/umbrella-solid.svg"> -->
          </div>
        </div>
      </div>
      <%# <!--

  for (let[i], [i] < 0, array.length)

 --> %>




        <!-- End of Gallery Div -->

        <!-- Quote Div -->
        <div class="quoteDiv">
          <p class="quote">"Some people walk in the rain, others just get wet."</p>
          <p class="citation">- Roger Miller</p>
        </div>
        <!-- End of Quote Div -->

        <!-- About Div -->
        <div class="aboutDiv">
          <div class="aboutOverlay">
            <h3>About drzzl</h3>
            <h4>Made With</h4>
            <div>
              <img class="svg" src="./images/codeIcons/html5-brands.svg">
              <img class="svg" src="./images/codeIcons/css3-alt-brands.svg">
              <img class="svg" src="./images/codeIcons/js-square-brands.svg">
              <img class="svg" src="./images/codeIcons/node-js-brands.svg">
            </div>
            <p>And more...</p>
          </div>
        </div>
        <!-- End of About Div -->

        <!-- Contact Div -->
        <div class="contactDiv">
          <div class="contactOverlay">
            <div class="contactUs">
              <h3>Contact Us</h3>
              <p>We are available for mad love or hate mail at either of our Githubs or at <a href="#">hello@drzzl.io</a>.</p>
            </div>

            <div>
              <div class="contactDavid">
                <h4>David Kolia</h4>
                <img class="svg" src="./images/codeIcons/user-tie-solid.svg">
                <p>A photographer, designer and web developer, David enjoys rainy days so much his white noise machine is getting tired of playing thunderstorms and light rain every evening.</p>
              </div>
              <div class="contactJay">
                <h4>Jay Escala</h4>
                <img class="svg" src="./images/codeIcons/user-tie-solid.svg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet odio vitae metus commodo porta. Maecenas pretium rhoncus vehicula. Fusce vestibulum tristique enim.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Contact Div -->

        <!-- Footer -->
        <% include ../partials/footer.ejs  %>
          <!-- End of Footer -->

  </body>
  <script type="text/javascript" src="scripts/weather.js"></script>

</html>
